
/*.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* Main Navigation */

nav {
    background: #444;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    font-family:   Capriola

  ;
}
    nav ul li:hover {
        background: #03ADDF;
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    font-family:   Capriola

  ;
}
    nav ul li a:hover {
        color: #fff;
        text-decoration: none;
        font-family:  Capriola

  ;
    }

/* Sub Menu */
nav ul li.parent ul.child {
    display: none; /* Hide Sub Menu */
    font-family:   Capriola

  ;
}
nav ul li.parent:hover ul.child {
    display: block; /* Show Sub Menu on Hover */
    position: absolute;
    top: 40px;
    background: #03ADDF;
    font-family:   Capriola

  ;
}

nav ul li.parent ul.child li {
    width: 9em;
    padding: 0;
    font-family:   Capriola

  ;
}
nav ul li.parent ul.child li:hover {
    background: #008FBA;
    font-family:    Capriola

  ;
}
nav ul li.parent ul.child li a {
    display: block;
    font-family:   Capriola

  ;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family:    Capriola

  ;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  font-family:   Capriola

  ;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Capriola;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Capriolay;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-family: Capriola;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-family:  Capriola;
}