<!DOCTYPE html>
<html>
<head>
	<title> farmer add product</title>
</head>
<body>

<div>
<form action="farmer_products"  method="POST">
Name :<br> 
<input type="text" name="Name" required><br><br>

Fertilizer :
<input type="radio" name="Fertilizer" value="natural">Natural<br>
<input type="radio" name="Fertilizer" value="chemical">Chemical<br>

Genetically modified :<br>
<input type="radio" name="Genetically_modified" value="yes">yes<br>
<input type="radio" name="Genetically_modified" value="no">no<br>

Fresh or frozen :<br>
<input type="radio" name="Fresh" value="fresh">Fresh<br>
<input type="radio" name="Fresh" value="frozen">Frozen<br>

Weight :<br>
<input type="number" name="Weight"><br>

Quantity :<br>
<input type="number" name="Quantity"><br>

Type :<br>
<input type="text" name="Type" value=""><br>

SubType :<br>
<input type="text" name="SubType" value=""><br>

Price for a kilogram :<br>
<input type="number" name="Price">

<input type="submit" name="Add"> <br><br>
</div>
<div>
<a href="{{url_for('farmer_products')}}" class="btn" role="button">back</a> 	
</div>
</body>
</html>