<!DOCTYPE html>
<html>
<head>
	<title> my cart </title>
</head>
<body>

	<p>cart</p>

{% for item in cartList%}
      <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <div class="card-body">
                  <p class="card-text">food type :{{item.Type}} </p>
                  <p> farm's name : {{item.Owner}}</p>
                  <p>costs {{item.cost}}</p>
                </div>
              </div>
        </div>
      </div>
{% endfor%}
</body>
</html>