  <!DOCTYPE html>
<html>
<head>
	<title>fancy</title>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

</style>

</head>
<body>
<div class="quote">

  <a href="https://www.youtube.com/channel/UCg_pj7u5TToHnBVXnaWSoUQ" class="fa fa-youtube" target="blank"></a>
<a href="https://www.instagram.com/localeateam/" class="fa fa-instagram" target="blank"></a>
<a href="#" class="fa fa-linkedin" target="blank"></a>
  

</body>
</html>