<!DOCTYPE html>
<html>
<head>
<title>{{farmer.Farm_name}}</title>

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
	
#cart {
	text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
}

#cart td, #cart th {
	text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#cart tr:nth-child(even){background-color: #f2f2f2;}

#cart tr:hover {background-color: #ddd;}

#cart th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>	
  <h1 style="text-align: left;">Welcome to {{farmer.Farm_name}}'s farm page </h1>
  <h3 style="text-align: left;margin-left: 5%;">Description : {{farmer.description}}</h3>
  <h3 style="text-align: left;margin-left: 5%;">Address : {{farmer.address}}</h3>


<div style="text-align: center;margin-bottom: 2%;">
	<a style="color: black;text-decoration: none;" rel="nofollow" href="https://api.whatsapp.com/send?phone=972{{farmer.phone}}&amp;text=Hello {{farmer.Farm_name}}}, . I am contacting you via LocalEat to ask questions about your product."   target="_blank">
<button type="button" class="btn btn-outline-success">
 CONTACT {{farmer.Farm_name}}
</button>
</a>
</div>

<table id="cart">
  <tr>
    <th>Type</th>
    <th>Cost</th>
    <th></th>
  </tr>
  {% for item in products %}
  <tr>
    <td>	
    	 <a href="/product/{{item.Type}}">{{item.Type}}</a>
	</td>
    <td>{{item.cost}}</td>
    <td><a href="/buy_product/{{item.id_table}}"> add to cart </a></td>
  </tr>
  {% endfor %}

</table>
</body>
</html>

