<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	
	{% if flag %}
		<h1>Invalid username or password</h1>
	{%endif%}
	
	<form action = "/farmsignup" method = "POST">
	    <input type = "text" name = "uname" placeholder = "username">
	    <br>
	    <input type = "password" name = "upass" placeholder = "password">
	    <br>
	    <input type = "text" name = "farm_name" placeholder="Farm name">
	    <br>
	    <input type = "text" name = "location" placeholder="Your farm adress.">
	    <br>
	    <input type = "submit" value = "Add">
	</form>
	<a href = "/login">Log in</a>

</body>
</html>