<!DOCTYPE html>
<html>
<head>
	<title>{{Type_1.Name}}</title>
	<img src="{{Type_1.Img}}" width="420" height="420">
</head>
<body>

{% for food in foodlist%}
      <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{food.Owner}}</h5>
                  <p class="card-text">{{food.cost}} </p>
                  <a href="/cart/{{food.id_table}}"> add to cart </a>
                </div>
              </div>
        </div>
      </div>
{% endfor%}
<br>

<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('body');</script>
	<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
	
	var CREAT_PAYMENT_URL = 'http://127.0.0.1:5000/buy_product/payment';
	var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/buy_product/execute';

	paypal.Button.render({
		env: 'sandbox', // Or 'sandbox',

		commit: true, // Show a 'Pay Now' button

	style: {
	color: 'gold',
	size: 'small'
	},

	payment: function() {
		return paypal.request.post(CREAT_PAYMENT_URL).then(function(data){
			return data.id;
		})
	},

	onAuthorize: function(data) {
		print(data)
		return paypal.request.post(EXECUTE_PAYMENT_URL,{
			paymentID : data.paymentID,
			payerID: data.payerID,
			type : data.type

		}).then(function(res)) {
			print(res.success)
		}
	
	},

	  				// onCancel: function(data, actions) {
					//   /*
					//    * Buyer cancelled the payment
				//    */
			// },

			// onError: function(err) {
			//   /*
			//    * An error occurred during the transaction
			//    */
			// }
	}, '#paypal-button');
	</script>
	</body>
