<!DOCTYPE html>
<html>
<head>
	<title> HomePage</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>

body {
  margin: 0;
  background:linear-gradient(to right, #95ff00,#5a9101);
}

 
 .navbar {
  background-color:#395e00;
  text-align: center;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

   
</style>
</head>

<body>

  <div class="navbar" class="row">

      <div class="col-sm-3">
        <a  href="{{url_for('user_login')}}">log in as user</a>
      </div>

      <div class="col-sm-3">
        <a  href="{{url_for('farm_login')}}"> log in as farm </a>
      </div>

      <div class="col-sm-3" class="text-center">
        <a  href="{{url_for('user_signup')}}">sign up as user</a>
      </div>

      <div class="col-sm-3" class="text-center">
        <a  href="{{url_for('farm_signup')}}">sign up as farm</a>
      </div>

  </div>

</body>
</html>