<!DOCTYPE html>
<html>
<head>
<title>LocalEat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
<script>
</script>
<style>


  body {
    background-color: #ffff;
    
    margin:0%;
  }
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

 .jum{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    color: inherit;
    background-color: white;
    text-align: center; 
  }
  .custom_nav {
    background-color: #3496c7;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    border-width: 2px;
    border-radius: 25px ;
  }
  #custom_text {
    color: #f5f5f5;
    cursor: pointer;
  }
#bgvid>.top {
  position: relative;
  width:1200px;
  height:400px;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  max-width: 1000%;
  max-height: 100%;
}
img{
  width: 300px;
  height:400px;
}
</style>
<div class=top>

<img src="/static/images/llogo2.png" > 
<video id="bgvid" playsinline autoplay muted loop video  align = left>

  <!-- 
- Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source type="video/webm" src=https://www.videvo.net/videvo_files/converted/2017_09/preview/170804_C_Lombok_006.mp483182.webm>
<source type="video/mp4" src="/videvo_files/converted/2017_09/videos/170804_C_Lombok_006.mp483182.mp4">


</video>

<!-- Optional: some overlay text to describe the video -->
<!--
<div class="content">-->

  <!-- Use a button to pause/play the video with JavaScript -->

</div>

</head>
<body>




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">video
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/HomePage">Home</a></li>
       <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/user_log-in">Log In</a></li>
          <li><a href="/user_sign-up">Sign Up</a></li>
     </ul>
         
      </li>
      <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Farm
        <ul class="dropdown-menu">
          <li><a href="/Farm_login">Log In</a></li>
          <li><a href="/user_sign-up">Sign Up</a></li>
        </ul>
      </li>
    </ul>
         
     <li><a href="Shipping&Payment">Shipping&Payment</a></li>
     <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
   </div>
</nav>



<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <!-- Use a button to pause/play the video with JavaScript -->

</div>






















<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me </p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
     
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      
    </div>
  </div>
</div>
 <hr style="border-top-color: rgba(000, 000, 000, 0.9)">
<footer class="footer bg-dark py-5">
  <div class="container position-relative">
    <div class="row">
      <div class="col-6 col-md-4">
        <h3 class="text-white">Company</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="mailto:noamm19meet@gmail.com" target="_blank" class="nav-link pl-1">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="/shop"  target="_blank" class="nav-link pl-0">Shop</a>
          </li>
         
        </ul>
      </div>
      <div class="col-6 col-md-4">
        <h3 class="text-white">Social</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link pl-0" href="https://www.youtube.com/channel/UCg_pj7u5TToHnBVXnaWSoUQ" target="_blank">Youtube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-0" href="https://www.instagram.com/localeateam/" target="_blank">Instagram</a>
          </li>
  <!--       <li class="nav-item">
            <a class="nav-link pl-0" href="" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">      
            <a class="nav-link pl-0" href="https://twitter.com/officialthenx" target="_blank">Twitter</a>
          </li>   -->
        </ul>
      </div>
  
    </div>
    <hr style="border-top-color: rgba(000, 000, 000, 0.2)">
    <div class="d-flex justify-content-between pt-3">
      <p class="text-white mb-0">Copyright © Localeat 2019</p>
    </div>
  </div>
</footer>

</body>
</html>

















<!--
<nav>
    <ul>
        
        <li class="parent"><a href="#">User</a>
            <ul class="child">
        {% if log%}
        <li><a href="#">logout</a></li>
        {% endif %}    
        <li><a href="#">login</a></li> 
        <li><a href="#">Sign-up</a></li> 
        
            </ul>
        </li>

        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('shop')}}">Shop</a></li>
        <li><a href="#">Shipping&Payment</a></li>
        <li><a href="#">Contact Us</a></li>
        
    </ul>
</nav>


</body>
</html>