<!DOCTYPE html>
<html>
<head>
	<title>Shop</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
	#secret {
  margin-top: 3%;
  background-color:lightblue;
  text-align: center;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
	}

  #shh {
    color: black;
  }
</style>
</head>
<body>

<nav class="navbar navbar-inverse" id="secret">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id='shh' class="navbar-brand" href="/">LocalEat</a>
    </div>
    <a id='shh' class="navbar-brand" href="/">Cart</a>
    <a id='shh'class="navbar-brand" href="#">Cash : </a>
  </div>
</nav>
  
{% for type in types%}
      <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <img class="card-img-top" src="{{type.Img}}" width="670" height="440">
                <div class="card-body">
                  <h5 class="card-title">{{type.Name}}</h5>
                  <p class="card-text">{{type.Min_price}} - {{type.Max_price}} </p>
                  <a href="product/{{type.Name}}" class="btn btn-primary">comapre and buy</a>
                </div>
              </div>
        </div>
      </div>

{% endfor%}

</body>
</html>