<!DOCTYPE html>
<html>
<head>
  <title>HomePage</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><a href="/user_log-out">Log out</a></li>
    <li><a href="/cart">cart</a></li>
     <li><a href="/shop">Shop</a></li>
    </ul>
  </div>
</nav>
  
  <h1>eyo {{user}} welcome</h1>
  <h3>you have {{cash}} in your pocket </h3>

</body>
</html>