<!DOCTYPE html>
<html>
<head>
	<title> user signup page</title>
</head>
<body>
<center>
	

<form action="/user_signup", method="POST">

  First name:<br>
 
  <input type="text" name="firstname" required >
  <br>

  Last name:<br>

  <input type="text" name="lastname" required >
  <br>

  username :<br>

  <input type="text" name="username" required >
  <br>

  password :<br>

  <input type="password" name="password" required>
  <br>



  <input type="submit" value="Submit">
  </center>
</body>
</html>